<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
<body> 
        <h3 class="logo" id="top">No Sugars No Grains Food Recipes</h3>
            <nav>
                <li><a href='/'>Home</a></li>
                <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
        <li><a href='/search'>Search</a></li>
    </nav>
                
            </nav>
			<%# START Page Header %>
        <div class="container">
        <h1 class="primary"><% message %></h1>
  </div>
  <%# END Page header %>
  <%# START body wrapping %>
  <div>
  
  <%#Start image%>
<div>
</div>
<%# END Image %>          
<%# START Three content sections %> 
                 
<%# END Three content sections %>
<div class="container">
<div class="login-form">
      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:pink;">
<h1 class="primary"><%= message %><h1>
<h4>Login to view NSNG Food Recipes</h4>
		<form action="/auth/login" method="POST">
			 <label for='username' class='title'>Username<input name='username' type='text' autocomplete="off" required/></label>
            <label for='password' class='title'>Password<input name='password' type='password' autocomplete="off" required/></label>
            <input type='submit' class='button' value='Log in' />
        </form>
</div>
</div>
	
<%# start Modal%>
 
					<%# end Modal%>

  <%# END of Body wrapping %>