<head>
  <meta charset="utf-8">

  <!-- START Style Sheets -->
  <!-- Bootstrap CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Our personal style sheet -->
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
<!-- END Style Sheets -->
<!-- JavaScript & jQuery Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    <style>
body {
  background-image: url('img/kalesalad_nsng.jpeg') no-repeat center center fixed;
  background-color: #cccccc;
}
</style>
</head>
<body>
        <h3 class="logo" id="top">Welcome to No Sugars No Grains Food Recipes</h3>
            <nav>
                <li><a href='/'>Home</a></li>
            </nav>
			<!-- START Page Header -->
      <div class="container">
		<h4>Register account to view the latest NSNG Recipes</h4>
		<form action="/auth/registration" method="POST">
    <div class="form-field">
		  	<label for="username"class="title">Username</label>
        <input type="text" name="username" id="username" placeholder="Type username" autocomplete="off" required /><br>
			 </div>
       <div class="form-field">
        <label for="password" class="title">Password</label>
        <input type="password" placeholder="Length 6 characters" autocomplete="off" required/><br>
      </div>
       <div class="form-field">
        <label for="email" class="title">Email</label>
        <input type="email" value="email" placeholder="email@domain.com" autocomplete="off" required/><br>
			</div>
       <div class="form-field">
        <input type="submit" class="button" value="Sign Up"/>
      </div>
		</form>
    <form>
    <p>Already have an account?</p>
    <button type="button" href="/login">Login</button>
    </form>
    </div>
		
<!-- start Modal-->
 
					<!-- end Modal-->

        <button type="button" id="topButton" href="#top"> Back to Top</button>
        <!--a class="button" href="/recipes/">Add a new recipe</a-->
        <!--a class="button" href='/recipes/'>Add a new recipe</a-->
		</div>
  <!-- END of Body wrapping -->