<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= nsng Food Recipes%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header">
            <h2 class>Hello<span id="username"></span>Welcome, to your recipes</h2>
            </div>
            <ul>
            <li><a href="/recipes">master</a></li>
            <li> <a href="/new">git add -an item</a></li>
            </ul>
        </header>
    
    </body>
</html>