<nav class="navbar navbar-default" role="navigation">

        <title><%= No Sugars No Grains NSNG Food Recipes%></title>
        
            <div class="navbar-header">
            <h2 class>Hello<span id="username"></span>Welcome, to your recipes</h2>
            </div>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Welcome to NSNG Recipes</a></li>
            <li> <a href="/new">Add a recipe</a></li>
            </ul>
   