<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
<body>
<div class="p-3 mb-2 bg-secondary text-dark">No Sugars No Grains Food Recipes</div>
        <h1 class="logo" id="top"></h1>
    <%#github share%>
    
    <a href="https://github.com/yettsyjk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
 
            <nav>
            <li><a href="/recipes">Will this take me back to Home page?</a></li>
            <li><a href="/articles">Is this the Articles Home page?</a></li>
                
            <% if(logged){ %>
            <li><a href="auth/logout">Logout</a></li>
            <% } %>
            </nav>
			<%#START Page Header%>
      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:pink;">
        <div class="container">
        <%= message %>
        <% if(!logged) { %>
   
   <div class="container">
<div class="login-form">
<h4>Login to view NSNG Food Recipes</h4>
		<form action="/auth/login" method="POST">
			 <label for="username" class="title">Username<input name="username" type="text" autocomplete="off" required/></label>
            <label for="password" class="title">Password<input name="password" type="password" autocomplete="off" required/></label>
            <input type="submit" class="button" value="Log in" />
        </form>
</div>
</div>
</div>
   <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:aqua;">
 <h4>Please fill out this form to create an account</h4>
			<form action="/auth/registration" method="POST">
				<input type="text" name="username" placeholder="username" autocomplete="off" required><br>
				<input type="email" name="email" placeholder="email" autocomplete="off" required><br>
				<input type="password" name="password" placeholder="password" autocomplete="off" required><br>
				<button type="submit">Register</button>
			</form>
 <% } %>
        </div>

        <div class="button_container">
        
  </div>
  <%#END Page header%>
  <%#START body wrapping%>
  <div>
  
  <%#Start image%>
<div>
</div>
<%#END Image%>          
<%#START Three content sections%> 
                   
 <div></div>
<%#END Three content sections%>
<%#Login.ejs%>
<%#Register.ejs%>

<%#start Modal%>
 
					<%#end Modal%>

        <button type="button" id="topButton" href="#top"> Back to Top</button>
        <%#a class="button" href="/recipes/">Add a new recipe</a%>
        <%#a class="button" href='/recipes/'>Add a new recipe</a%>
		</div>

  <%#END of Body wrapping%>