<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <!-- START Style Sheets -->
  <!-- Bootstrap CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Our personal style sheet -->
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<!-- END Style Sheets -->
<!-- JavaScript & jQuery Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    <style>
body {
  background-image: url('../img/kalesalad_nsng.jpeg') no-repeat center center fixed;
  background-color: #cccccc;
}
</style>
</head>
<body>
        <h1 class="logo" id="top">No Sugars No Grains Food Recipes</h1>
            <nav>
                <li><a class="current" href='/'>Home</a></li>
                <li><a href='/views/recipes/index.ejs'>Recipes</a></li>
                <li><a href='/views/recipes/new.ejs'>Add Recipes</a></li>
                <li><a href='/views/recipes/edit.ejs'>Search Recipes</a></li>
            <% if(logged){ %>
            <a href="auth/logout">Logout</a>
            </li>
            <% } %>
            </nav>
			<!-- START Page Header -->
      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:pink;">
        <div class="container">
        <h1 class="primary"><%= message %></h1><% if(!logged) { %>
   
   <div class="container">
<div class="login-form">
<h4>Login to view NSNG Food Recipes</h4>
		<form action="/auth/login" method="POST">
			 <label for='username' class='title'>Username<input name='username' type='text' autocomplete="off" required/></label>
            <label for='password' class='title'>Password<input name='password' type='password' autocomplete="off" required/></label>
            <input type='submit' class='button' value='Log in' />
        </form>
</div>
</div>
</div>
   <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:aqua;">
 <h4>Please fill out this form to user an account</h4>
			<form action="/auth/register" method="POST">
				<input type="text" name="username" placeholder="username" autocomplete="off" required><br>
				<input type="email" name="email" placeholder="email" autocomplete="off" required><br>
				<input type="password" name="password" placeholder="password" autocomplete="off" required><br>
				<%# Register Create route 1: The user clicks on the submit button, which packages the form data into an object where the keys of that object are the values of the "name" attribute of each input, and the values of each of those keys is what the user entered into that input, initiating a POST request -> server.js %>
				<button type="submit">Register</button>
			</form>
 <% } %>
        </div>

        <div class="button_container">
        <a class="button" href="/recipes">View All Recipes</a>
        <a class="button" href="/recipes/add">Create a new recipe</a>
  </div>
  <!-- END Page header -->
  <!-- START body wrapping -->
  <div>
  
  <!--Start image-->
<div>
</div>
<!-- END Image -->          
<!-- START Three content sections --> 
                   
                   <div >
                  
</div>
<!-- END Three content sections -->
<!--Login.ejs-->
<!--Register.ejs-->

<!-- start Modal-->
 
					<!-- end Modal-->

        <button type="button" id="topButton" href="#top"> Back to Top</button>
        <!--a class="button" href="/recipes/">Add a new recipe</a-->
        <!--a class="button" href='/recipes/'>Add a new recipe</a-->
		</div>
  <!-- END of Body wrapping -->