<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css?cdv=1710914838" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://unpkg.com/aos@next/dist/aos.css?cdv=1710914838" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta nane="title" content="Yettsy J Knapp | Software Developer">
    <title>NSNG Food Recipes App | Yettsy Knapp</title>
    <link id="favicon" type="image/x-icon" rel="icon" href="https://calendar.google.com/googlecalendar/images/favicon_v2014_18.ico">
    <link rel="icon" id="favicon256" sizes"256x256" type="image/png" href="https://calendar.google.com/googlecalendar/images/favicon_v2018_256.png">
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/39/6/common.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css?cdv=1710914838" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" type="text/css" rel="stylesheet">


  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<%# Include the above in your HEAD tag%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
<body>
<div class="p-3 mb-2 bg-info text-white">Let's Get Back to the Great Stuff</div>
       
        <%#Background Image %>
        
        <img class="https://images.unsplash.com/photo-1560155016-bd4879ae8f21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" alt="Avocado" height="200" width="200"/>
     <%#github share%>
    <a href="https://github.com/yettsyjk" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
 
            <nav>
            
            <%#logout option%>
            <%if(alert!== undefined){%>
                <p><%=alert%></p>
            <%}%>    
            <% if(logged){ %>
            <li><a href="/user/logout">Logout</a></li>
            <% } %>
            <%#logout option%>
            </nav>
			<%#START Page Header%>
        <div class="container">
        
        <% if(!logged) { %>
   </div>
   <%#Registration left-panel%>
   <div class="registration__wrapper">
    <div class="registrations__container">
        <div class="sheet sheet--inverse registrations__left-panel" style="background-image: url(https://unsplash.com/photos/rD3YrnhTmf0);">
          <div class="registrations__content">
            <div><img class="registrations__logo" src="https://img.icons8.com/nolan/64/food.png"></div>
             <div><h4 class="registration__title">No Sugars No Grains Food Recipes</h4></div>
               </div>
            </div>
         </div>
      </div>
   
   <%#end of Registration left panel%>
   <%#Login form right-panel%>
   <div class="registrations__right-panel">
     <div class="registrations__spacer"></div>
      <div class="login-form qa-primary-join-form">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center sheet--padding-bottom">
<h4 class="alpha text-weight--bold">User Login</h4>
 <p>"Already a member? " Login to view NSNG Food Recipes</p>
 <div class="form-group">
	    	<form action="/user/login" method="POST">
		      	 <i class="fa fa-user fa-lg fa-fw" aria-hidden="true">Username<input name="username" type="username" class="form-control" placeholder="Username *" autocomplete="off" minlength="4" required="required"/></label>
            <label for="password" class="title">Password<input name="password" type="password" placeholder="Password *" aria-autocomplete="off" required="required"/></label>
                 <button type="submit" class="button" value="Login">Login</button>
        </form>
            </div>
         </div>
      </div>
    </div>
    <div class="form-separator">
<p>or</p>
</div>
<%#End of Login form %>
<%#Registration form %>
 <div class="container login">
     <div class="row">
 <div class="row register-form">
 <div class="col-md-6">
 <h3>Create a Free Account</h3>
 <h4>Join our community</h4>
			<form action="/user/registration" method="POST">
				<input type="text" name="username" placeholder="Username *" autocomplete="off" required="required"><br>
				<input type="email" name="email" placeholder="Email *" autocomplete="off" required="required"><br>
				<small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <input type="password" name="password" placeholder="Password *" aria-autocomplete="off" required="required"><br>
        
        <label for="checkbox">
        <input type="checkbox" name="checkbox" value="check" id="agree">"Yes, I have read and consent to "<a href="https://linuxacademy.com/terms-of-service/" target="blank">Terms of Service."</a>
			</label>
  
      <label for="checkbox">
      <input type="checkbox" name="checkbox" id="agree" value="check"/>"Yes, I have read and consent to the "<a href="https://linuxacademy.com/privacy-policy/" target="blank" class="fw600 underline black">Privacy Policy"</a>
      </label>
        <button type="submit"><span>Register</span></button>
        </div>
        </div>
        </div>
      </form>
 <% } %>
       
  <%#END Page header%>
  <%#START body wrapping%>
  <div></div>
  
  <%#Start image%>
<div></div>
<%#END Image%>          
<%#START Three content sections%> 
                   
 <div></div>
<%#END Three content sections%>
<%#Login.ejs%>
<%#Register.ejs%>
<%#start Modal%>
 
					<%#end Modal%>
        <p class="text-muted">NSNG App Created 2020</p>
        <%#a class="button" href="/recipes/">Add a new recipe</a%>
        <%#a class="button" href='/recipes/'>Add a new recipe</a%>
	
  <%#END of Body wrapping%>
  </body>
       
    <footer>
</footer>