<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
<body>
<div class="p-3 mb-2 bg-secondary text-dark">No Sugars No Grains Food Recipes</div>
        <h1 class="logo" id="top"></h1>
        <%#Background Image %>
        <div class="sheet sheet--inverse registrations__left-panel" style="background-image: url(https://images.unsplash.com/photo-1560155016-bd4879ae8f21?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" 1000w, alt="sliced avocado fruit" class="_2zEKz">
    <%#github share%>
    
    <a href="https://github.com/yettsyjk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
 
            <nav>
            
            <%#logout option%>
            <%if(alert!== undefined){%>
                <p><%=alert%></p>
            <%}%>    
            <% if(logged){ %>
            <li><a href="/user/logout">Logout</a></li>
            <% } %>
            <%#logout option%>
            </nav>
			<%#START Page Header%>
      <div>
        <div class="container">
        
        <% if(!logged) { %>
   </div>
   <div class="container">
<div class="login-form"><h3>User Login</h3>
 <h4>Already a member? Login to view NSNG Food Recipes</h4>
		<form action="/user/login" method="POST">
			 <i class="fa fa-user fa-lg fa-fw" aria-hidden="true">Username<input name="username" type="text" placeholder="Username *" autocomplete="off" required/></label>
            <label for="password" class="title">Password<input name="password" type="password" placeholder="Password *" aria-autocomplete="off" required/></label>
            <input type="submit" class="button" value="Log in" />
        </form>
</div>
</div>
</div>
   <div></div>
 <h3>Create a Free Account</h3>
 <h4>Join our community</h4>
 <div class="login-form">
			<form action="/user/registration" method="POST">
				<input type="text" name="username" placeholder="Username *" autocomplete="off" required><br>
				<input type="email" name="email" placeholder="Email *" autocomplete="off" required><br>
				<small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <input type="password" name="password" placeholder="Password *" aria-autocomplete="off" required><br>
        <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { return false; }">
        <label for="checkbox">
        <input type="checkbox" name="checkbox" value="check" id="agree">"Yes, I have read and consent to "<a href="https://linuxacademy.com/terms-of-service/" target="blank">Terms of Service."</a>
			</label>
</form>
  <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { return false; }">
      <label for="checkbox">
      <input type="checkbox" name="checkbox" id="agree" value="check"/>"Yes, I have read and consent to the "<a href="https://linuxacademy.com/privacy-policy/" target="blank" class="fw600 underline black">Privacy Policy"</a>
      </label>
        <button type="submit"><span>Register</span></button>
      </form>
			</form>
 <% } %>
        </div>

        <div class="button_container">
        
        </div>
  <%#END Page header%>
  <%#START body wrapping%>
  <div>
  
  <%#Start image%>
<div>
</div>
<%#END Image%>          
<%#START Three content sections%> 
                   
 <div></div>
<%#END Three content sections%>
<%#Login.ejs%>
<%#Register.ejs%>

<%#start Modal%>
 
					<%#end Modal%>

        <button type="button" id="topButton" href="#top"> Back to Top</button>
        <%#a class="button" href="/recipes/">Add a new recipe</a%>
        <%#a class="button" href='/recipes/'>Add a new recipe</a%>
		</div>

  <%#END of Body wrapping%>