<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- START Style Sheets -->
  <!-- Bootstrap CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Our personal style sheet -->
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
<!-- END Style Sheets -->
<!-- JavaScript & jQuery Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    <style>
body {
  background-image: url('img/kalesalad_nsng.jpeg') no-repeat center center fixed;
  background-color: #cccccc;
}
</style>
</head>
<body>
        <h3 class="logo" id="top">No Sugars No Grains Food Recipes</h3>
            <nav>
                <li><a class="current" href='/'>Home</a></li>
                <li><a href='/recipes'>Recipes</a></li>
                <li><a href='/recipes/add'>Add Recipes</a></li>
                <li><a href='/search'>Search Recipes</a></li>
            </nav>
			<!-- START Page Header -->
        <div class="container">
        <h1 class="primary"><%= message %></h1>
        <h2 class="primary"><%= subTitle %></h2>
        <div class="button_container">
        <a class="button" href="/recipes">View All Recipes</a>
        <a class="button" href="/recipes/add">Create a new recipe</a>
  </div>
  <!-- END Page header -->
  <!-- START body wrapping -->
  <div>
  
  <!--Start image-->
<div>
</div>
<!-- END Image -->          
<!-- START Three content sections --> 
                   
                   <div >
                  
</div>
<!-- END Three content sections -->
<!--Login.ejs-->
<!--Registration.ejs-->

<!-- start Modal-->
 <div>
                    <input type="checkbox" id="toggle">
                    <label for="toggle">About NSNG Food Recipes</label>
                    <dialog>
                    <h2>No Sugar No Grains #nsng Frequently Asked Questions</h2>
                <p>What are considered grains?<br>
Answer: According to the USDA, grains are “any food made from wheat, rice, oats, cornmeal, barley or another cereal grain is a grain product. Bread, pasta, oatmeal, breakfast cereals, tortillas, and grits are examples of grain products.”</p>
                <p>In a ‪NSNG lifestyle, what are considered ‘sugars’?<br>
Answer: Glucose, Fructose, Sucrose, Glucose Syrup, Corn Syrup, High Fructose Corn Syrup (HFCS), Fruit Sugar, Raw Honey, Maple Syrup, Molasses, Agave Nectar, Palm Sugar, Coconut Sugar. </p>
                <p>What are ‪NSNG suggested fats?<br>
Answer: Grass fed butter, coconut oil, macadamia nut oil, avocado oil, heavy whipping cream, nut butters (be careful to read the ingredient label to make sure it is pure nut butter and not filled with a lot of additives and other oils), Villa Capelli olive oil (no olio della lampada), lard, tallow, bacon grease, ghee, MCT oil, full fat dairy (if you can tolerate it), olives, avocados, full fat coconut milk. </p>
                    <p>What are some ‪‎NSNG suggested snacks?<br>
Answer: Low glycemic fruit, cut veggies, hard boiled eggs, beef jerky, full fat cheese, raw nuts, olives, pumpkin seeds, 85% or greater dark chocolate, deviled eggs (homemade mayo), pepperoni slices, coconut oil, avocado, lettuce rolled up with smoked salmon and full fat cream cheese, hummus and celery, pickles, shot of olive oil, coffee with heavy cream (or grass fed butter, or coconut oil).</p>
<div id="modal-footer">
<label for="toggle">Close</label>
</dialog>
</div>
					<!-- end Modal-->

        <button type="button" id="topButton" href="#top"> Back to Top</button>
        <!--a class="button" href="/recipes/">Add a new recipe</a-->
        <!--a class="button" href='/recipes/'>Add a new recipe</a-->
		</div>
  <!-- END of Body wrapping -->