<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
    <header>
       <h3 class="logo" id="top">No Sugars No Grains Food Recipes</h3>
       <nav>
            
                <li><a href='/'>Recipes Home Page</a></li>
                <li><a href='/recipes'>Recipes</a></li>
            <li><a href='/recipes/add'>Add Recipes</a></li>
            <li><a class='current' href='/search.ejs'>Search Recipes</a></li>
          
        </nav>
        </header>
        <div class="container">
        <h1 class="logo"><%= subTitle %></h1>
        <div class="button_container search">
        <form method="GET">
        <input type="text" name="search" id="search" placeholder="Enter an ingredient..." autocomplete="off">
        <input type="submit" class="button" id="SearchButton" value="Search Recipes" />
        <form>
        </div>
        
            <h1 class="secondary recipe_title"><%=  %></h1>
            <div class="button_container">
            <a class="button black" href="<%=  %>" target="_blank">View Recipe</a>
            </div>
          
        <h2 class="title"><%= message %></h2>
        <button type="button" id="topButton" href="#top">Back to Top</button>
        <footer>
    
    </footer>
    </body>
    </html>
