/*GLOBAL*/

body {
    color: #444;
    font-weight: normal;
    background-color: #9999cc;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Libre Franklin";
    font-size: 18px;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::after {
    background-image: url('./img/usereditrecipes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: '';
    filter: blur(5px);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* #Navigation# */
nav {
    margin-top: 60px;
    box-shadow: 5px 10px #888888;
}
li {
    text-decoration: none;
    margin: - 10px;
}
/* #Links#*/
a {
    text-decoration: none;
    color: #818181;
    text-align: none;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
    padding: 10px;
}


div {
    font-size: 22px;
}
* {
    font-family: "Libre Franklin";
    font-size:  18px;
    text-align: center;
    line-height: 25.6px;
    letter-spacing: normal;
    color: #444444;
}

/* #CONTAINERS# */
.container {
    margin-top: 15px;
}
main, header, footer {
    width: 99%;
    margin: 0 auto;
    padding: 1em 3em;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}
/*Page Header*/
header {
    margin-bottom: 2em;
}
header h1 {
    color: #003366;
    font-size: 2.2em;
    font-weight: bold;
}
header ul {
    margin: 0;
    display: flex;
    align-items: center;
}
header li {
    padding: 60px;
    width: 95%;
    text-align: center;
    background: #ffcc99;
    font-size: 1.8em;
}
header li a {
    color: #003366;
}
/* #Show Text# */
h2, h3 {
    padding-bottom: 12px;
    text-align: center;
    margin: 0 0 0 0;
    color: rgb(21, 19, 20);
}
h3 {
    display: inline-block;
    margin-top: 0.5em;
}
p {
font-family: "Libre Franklin";
font-size: 16px;
text-align: start;
line-height: 28.8px;
letter-spacing: normal;
}
.title {
    color: #E25D38;
}
.recipe_title {
    font-family: "Libre Franklin";
    font-size: 40px;
    color: #222;
    padding: 20px;
}
/* #images#*/
.index_img {
    width: 50%;
}
img {
    width: 70%;
    border-radius: 1em;
}
/*# New, Form# */
input[type="text"], input[type="submit"] {
    width: 60%;
    padding: 1em;
    border: 0px;
    border-radius: 0.5em;
    margin: 0.5em 0;
}
input[type="submit"] {
    width: 62%;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    color: #000;
    background-color: rgba(129, 110, 124);
}
input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(142 ,89. 81);

}
/* #button#*/
.button {
    font-size: 1em;
    color: #f4f4f4;
    padding: 10px;
    border: 1px dashed #f4f4f4;
    border-radius: 10px;
    background: transparent;
    margin: 20px;
    cursor: pointer;
}
.button:hover {
    color: #222;
    background-color: #f4f4f4;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
#topButton {
    position: fixed;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
}
/*Styling the Modal*/
#modal {
    background-color: #f2efe8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; /*puts modal in front of the body*/
    overflow: auto; /*overflow is clipped, a scroll-bar should be added*/
}
#modal-textbox {
    background-color: #fff;
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 5px 10px #888888;
}
/*Footer*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 40px;
    background-color: #000;
    color: #fff;
}
.footer, .footer a  .footer p {
    color: #c9e4f7;
}
