/*GLOBAL*/
html,
body {
  height: 100%;
}

body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      background-image: linear-gradient(to right,#7f53ac 0,#657ced 100%);
  color: black
}

/* #Navigation# */
header {
    width: 70%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
nav, li {
    flex: 1;
    font-size: 16px;
    list-style: none;
}
li {
    text-decoration: none;
    margin: 0 10px;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: right;
}
.current, nav a:hover {
    color: #222;
    border-bottom: dotted;
}
/* ###### Text ####### */

h1 {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
}
.title, .primary {
    font-family: "Libre Franklin", cursive;
}
.primary {
    color: #f4f4f4;
    margin: 30px;
}
.title {
    color: #E25D38;
}
.recipe_title {
    font-family: "Libre Franklin", cursive;
    font-size: 8px;
    color: #222;
    padding: 20px;
}

.secondary {
    font-size: 30px;
    padding: 5px;
}
h2 {
    padding-bottom: 12px;
    text-align: center;
    color: #222;
}
p {
    margin: 1em 0;
}
/* #Links#*/
a {
    color: #2b0909;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
    padding: 10px;
}
/* #CONTAINERS# */
.container {
    width: 90vw;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* #Show Text# */
h2, h3 {
    padding-bottom: 16px;
    text-align: center;
    margin: 0 0 0 0;
    color: rgb(21, 19, 20);
}
h3 {
    display: inline-block;
    margin-top: 0.5em;
}
p {
font-family: "Libre Franklin";
font-size: 16px;
text-align: start;
line-height: 28.8px;
letter-spacing: normal;
}
.title {
    color: #E25D38;
}
.recipe_title {
    font-family: "Libre Franklin";
    font-size: 40px;
    color: #222;
    padding: 20px;
}
/* #images#*/
.index_img {
    width: 50%;
}
img {
    width: 70%;
    border-radius: 1em;
}
/*# New, Form# */
form {
	margin:10% auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
}
form label {
	font-size:14px;
	color:darkgray;
	cursor:pointer;
}
form label,
form input {
	float:left;
	clear:both;
}
form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}
input[type=submit] {
	padding:25px 30px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float: right;
	clear: right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}

#ingredientlist {
  margin: 10px 0;
}

  .button_container {
    text-align: center;
}
.form_container {
    width: 10%;
    text-align: center;
}
.form_container label {
  
    display: block;
}
.search {
    width: 80%;
    margin: 50px;
}
.search input {
    width: 50%;
}

/* #button#*/
/* GENERAL BUTTON STYLING */
.button,
.button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.button:after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
.button:hover {
    color: #222;
    height: 100%;
    background-color: #f4f4f4;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
.black {
    color: #222;
    padding: 2px 8px;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 0 5px;
}
#topButton {
    position: fixed;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
}
/*Styling the Modal*/
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    &>div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
    }
    .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
        &:hover {
          color: black;
        }
      .modal-window div:not(:last-of-type) {
        margin-bottom: 15px;
      }
  
/*Footer*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 40px;
    background-color: #000;
    color: #fff;
}
.footer, .footer a  .footer p {
    color: #c9e4f7;
}
/*###### Tablet Media Query ######*/
/*################################*/

@media screen and (max-width: 1000px) {
    body, select {
      font-size: 16px;
    }
    header {
      margin-top: 10px;
      flex-direction: column;
    }
    nav {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
        text-align: center;
    }
    /* ####### Text ###### */
    h1 {
      font-size: 20px;
    }
    li {
      font-size: 16px;
      text-align: center;
      padding: 5px;
    }
    h3, h4 {
      font-size: 18px;
    }
    h3 {
      line-height: 30px;
    }
    .attribution {
      width: 20%;
  }
}
  /*###### Mobile Media Query ######*/
@media screen and (max-width: 600px) {
    .nav {
        text-align: center;
    }
    .tertiary {
        display: none;
    }
    /* ###### Container ###### */
    .container {
        margin: 20px;
    }  

    .index {
        filter: none;
    }
    /* ###### Form ###### */
    input[type="text"], input[type="submit"]{
    width: 100%;
}
/* ###### Text ###### */
.recipe_title {
    font-size: 18px;
    font-weight: bold;
}
.secondary {
    padding-top: 0;
}
.description {
    width: 60%;
}
.button {
    display: inline-block;
}
.black {
    padding: 0 5px;
}
#topButton {
    width: 40px;
    right: 5px;
}
