/*GLOBAL*/
html,
body {
  height: 100%;
}

body {
  /*font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
  background-color: linear-gradient(to right,#7f53ac 0,#657ced 100%);
  color: black
}
/* ####background image #####*/
.registrations__left-panel {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #111111;
  -webkit-box-flex: 1;
  flex: 1;
}
/* #Navigation# */
header {
    font-weight: bold;
    width: 70%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
nav, li {
    flex: 1;
    font-size: 16px;
    list-style: none;
}
li {
    text-decoration: none;
    margin: 0 10px;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: right;
}
.current, nav a:hover {
    color: #222;
    border-bottom: dotted;
}
/* ###### Text ####### */

h1, h2, h3, h4, p, ul, table {
    line-height: 1.25;
    font-size: 40px;
    margin: 0 0 15px;
    text-align: center;
    box-sizing: border-box;
}

/* #Links#*/
a {
    color: inherit;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
    padding: 10px;
}
/* #CONTAINERS# */
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
/* #Show Text# */

/* #images#*/
.index_img {
    width: 50%;
}
img {
    width: 70%;
    border-radius: 1em;
}
/*# New, Form# */
.login {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.login-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.login-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.login-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.login .login-form{
  padding: 10%;
  margin-top: 10%;
}
.btnlogin{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.login .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.login .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.login .nav-tabs .nav-link:hover{
  border: none;
}
.login .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.login-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
/* Full-width input fields */

  
  
  /*###Start Log in Form##*/
  .login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
  }
  .login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
  }
  .login-form input[type="password"],
  .login-form input[type="text"],
  .login-form input[type="submit"] {
    -webkit-appearance: none;
    background: 0 0;
    border: 1px solid #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0;
    width: 100%;
    padding: 15px;
    height: auto;
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
  }
  /*###End Log in Form##*/

input[type="submit"]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}

#ingredientlist {
  margin: 10px 0;
}

  .button_container {
    text-align: center;
}
.form_container {
    width: 10%;
    text-align: center;
}
.form_container label {
  
    display: block;
}
.search {
    width: 80%;
    margin: 50px;
}
.search input {
    width: 50%;
}

/* #button#*/
/* GENERAL BUTTON STYLING */
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
.black {
    color: #222;
    padding: 2px 8px;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 0 5px;
}
#topButton {
    position: fixed;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
}
/*#####Styling the Modal#####*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
/*Footer*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 40px;
    background-color: #000;
    color: #fff;
}
.footer, .footer a  .footer p {
    color: #c9e4f7;
}
/*###### Tablet Media Query ######*/
/*################################*/

@media screen and (max-width: 1000px) {
    body, select {
      font-size: 16px;
    }
    header {
      margin-top: 10px;
      flex-direction: column;
    }
    nav {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
        text-align: center;
    }
    /* ####### Text ###### */
    h1 {
      font-size: 20px;
    }
    li {
      font-size: 16px;
      text-align: center;
      padding: 5px;
    }
    h3, h4 {
      font-size: 18px;
    }
    h3 {
      line-height: 30px;
    }
    .attribution {
      width: 20%;
  }
}
  /*###### Mobile Media Query ######*/
@media screen and (max-width: 600px) {
/* ###### Text ###### */
.recipe_title {
    font-size: 18px;
    font-weight: bold;
}
.secondary {
    padding-top: 0;
}
.description {
    width: 60%;
}
.button {
    display: inline-block;
}
.black {
    padding: 0 5px;
}
#topButton {
    width: 40px;
    right: 5px;
    }
}
    