/*GLOBAL*/

body {
    color: #444;
    font-weight: normal;
    background-color: #97a8a5;
    min-width: 100%;
    min-height: 100%;
    font-family: "Libre Franklin";
    font-size: 18px;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::after {
    background-image: url('./img/usereditrecipes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: '';
    filter: blur(5px);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* #Navigation# */
nav {
    margin-top: 60px;
    box-shadow: 5px 10px #888888;
}
li {
    text-decoration: none;
    margin: - 10px;
}
/* #Links#*/
a {
    text-decoration: none;
    color: #000000;
    text-align: none;
}
a:hover {
    color: #f4f4f4;
}
.back {
    display: block;
    padding: 10px;
}


div {
    font-size: 22px;
}
* {
    font-family: "Libre Franklin";
    font-size:  18px;
    text-align: center;
    line-height: 25.6px;
    letter-spacing: normal;
    color: #444444;
}

/* #CONTAINERS# */
.container {
    margin-top: 15px;
}
main, header, footer {
    width: 99%;
    margin: 0 auto;
    padding: 1em 3em;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}
/*Page Header*/
header {
    margin-bottom: 2em;
}
header h1 {
    color: #003366;
    font-size: 2.2em;
    font-weight: bold;
}
header ul {
    margin: 0;
    display: flex;
    align-items: center;
}
header li {
    padding: 60px;
    width: 95%;
    text-align: center;
    background: #ffcc99;
    font-size: 1.8em;
}
header li a {
    color: #003366;
}
/* #Show Text# */
h2, h3 {
    padding-bottom: 12px;
    text-align: center;
    margin: 0 0 0 0;
    color: rgb(21, 19, 20);
}
h3 {
    display: inline-block;
    margin-top: 0.5em;
}
p {
font-family: "Libre Franklin";
font-size: 16px;
text-align: start;
line-height: 28.8px;
letter-spacing: normal;
}
.title {
    color: #E25D38;
}
.recipe_title {
    font-family: "Libre Franklin";
    font-size: 40px;
    color: #222;
    padding: 20px;
}
/* #images#*/
.index_img {
    width: 50%;
}
img {
    width: 70%;
    border-radius: 1em;
}
/*# New, Form# */
input[type="text"], input[type="submit"] {
    display: inline-block;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
  }
  
  input[type="text"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: rgb(158, 77, 77);
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
  
  input[type="text"]:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }
  
  input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }

/* #button#*/
/* GENERAL BUTTON STYLING */
.button,
.button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
.button {
    background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}
.button:after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
.button:hover {
    color: #222;
    height: 100%;
    background-color: #f4f4f4;
    border: none;
    box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}
#topButton {
    position: fixed;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
}
/*Styling the Modal*/
#toggle{
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: -1;
  }
  
  #toggle:checked ~ dialog {
    display: block;
  }
label{
    background: #ffcc99;
    color: white;
    padding: .8em 1em;
    border-radius: 18px;
  }
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  dialog{
    animation: appear 350ms ease-in 1;
    max-width: 500px;
  }
/*Footer*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 40px;
    background-color: #000;
    color: #fff;
}
.footer, .footer a  .footer p {
    color: #c9e4f7;
}
