<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Edit Recipes <%= article.title %>'s Info</h1>
            <nav>
                <ul>
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="artilces">Articles Index</a>
                </li>
            </ul>
        </nav>
        </header>
    <main>
        <h2>
    </main>
    </body>
</html>