<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <h1>Articles</h1>
        <nav>
        <ul>
        <li>
             <a href="/">Home</a>
        </li>
             <li>
                 <a href="/articles/new">Create a new recipe</a>
             </li>
        </ul>
        </nav>
    </header>
    <main>
        <h2>List of Favorite Dishes</h2>
        <ul>
        <%for(let i = 0; i < articles.length; i++) { %> 
        <li>
        <a href="/articles/<%= artilcles[i]._id%>"><%= articles[i].titles %></a>
    </li>
    <% } %>
    </ul>
    
    </main>
    </body>
</html>