<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <% include ../partials/header.ejs %>
    </head>
    <body>
    <header><h1>Edit <%= recipe.name %>'s Info</h1>
        <nav>
          <ul>
           <li>
           <a href="/recipes">Recipes Index</a>
        </li>
    </ul>
    </nav>
     </header>
     <main>
         <h2>Recipe Details:</h2>
         <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <label>Name</label><br>
        <input type="text" name="name" value="<%= recipe.name %>"/><br/>
        <input type="submit" value="Update Recipe"/>
        </form>
 </main>
    </body>
</html>