   
  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <!-- START Style Sheets -->
  <!-- Bootstrap CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Our personal style sheet -->
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
<!-- END Style Sheets -->
<!-- JavaScript & jQuery Links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    <style>
body {
  background-image: url('img/kalesalad_nsng.jpeg') no-repeat center center fixed;
  background-color: #cccccc;
}
</style>
</head>
  <header>
       
    </header>

    <body>
        <h3 class="logo" id="top">No Sugars No Grains Food Recipes</h3>
            <nav>
                <li><a href='/'>Home</a></li>
                <li><a class="current" href='/recipes'>Recipes</a></li>
                <li><a href='/recipes/add'>Add Recipes</a></li>
                <li><a href='/search'>Search Recipes</a></li>
            </nav>
        <div class="container">
        <h1 class="primary">Recipes</h1>
  <% %>
<img src="" alt="<%=  %> food">
</div>           <div class="container">
<div class="row">
      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:pink;">
                   <h1 class="secondary recipe_title"><%= %></h1>
                   <h2 class="tertiary">Category: <%=  %></h2>
                   <div class="button_container">
                   
</div>
 <%  %>
<div class="container">
<div class="interior">
      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:gray;">
                    <a class="btn" href="#open-modal">MODAL About #nsng lifestyle</button>
                    <div id="open-modal" class="modal-window">
                    <div id="modal-textbox">
                    <a href="#" title="close" class="modal-close">Close</a>
                    <h2>No Sugar No Grains #nsng Frequently Asked Questions</h2>
                <p>What is No Sugar and No Grains (NSNG) all about?
Answer: In its simplest form NSNG is just that. You eliminate all processed sugars and all grains from your diet. In other words, you eat real food. In earlier podcast, it is referred to as being a “Carnivorous Vegan”. What that means is that you have lots and lots of healthy vegetables and meat in your diet. For vegans or vegetarians however, the concept is the same, but they just don’t have meat in their diet.</p>
                <p>What are considered grains?
Answer: According to the USDA, grains are “any food made from wheat, rice, oats, cornmeal, barley or another cereal grain is a grain product. Bread, pasta, oatmeal, breakfast cereals, tortillas, and grits are examples of grain products.”</p>
                <p>In a ‪NSNG lifestyle, what are considered ‘sugars’?
Answer: Glucose, Fructose, Sucrose, Glucose Syrup, Corn Syrup, High Fructose Corn Syrup (HFCS), Fruit Sugar, Raw Honey, Maple Syrup, Molasses, Agave Nectar, Palm Sugar, Coconut Sugar. A full list of sugars can be found at this link:http://www.marksdailyapple.com/the-definitive-guide-to-sugar/#axzz2YfdmeAmd</p>
                <p>What are ‪NSNG suggested fats?
Answer: Grass fed butter, coconut oil, macadamia nut oil, avocado oil, heavy whipping cream, nut butters (be careful to read the ingredient label to make sure it is pure nut butter and not filled with a lot of additives and other oils), Villa Capelli olive oil (no olio della lampada), lard, tallow, bacon grease, ghee, MCT oil, full fat dairy (if you can tolerate it), olives, avocados, full fat coconut milk. </p>
                    <p>What are some ‪‎NSNG suggested snacks?
Answer: Low glycemic fruit, cut veggies, hard boiled eggs, beef jerky, full fat cheese, raw nuts, olives, pumpkin seeds, 85% or greater dark chocolate, deviled eggs (homemade mayo), pepperoni slices, coconut oil, avocado, lettuce rolled up with smoked salmon and full fat cream cheese, hummus and celery, pickles, shot of olive oil, coffee with heavy cream (or grass fed butter, or coconut oil).</p>
                    </div>
                    </div>
            
        <a class="button" id="topButton" href="#top"> Back to Top</a>
       
    <footer>

</footer>
