<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <h1>Recipes</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <button id="openModal">About #nsng lifestyle</button>
                    <div id="modal"></div>
                    <a id="close" href="#">Close</a>
                    <h2>No Sugar No Grains #nsng Frequently Asked Questions</h2>
                <p>What is No Sugar and No Grains (NSNG) all about?
Answer: In its simplest form NSNG is just that. You eliminate all processed sugars and all grains from your diet. In other words, you eat real food. In earlier podcast, it is referred to as being a “Carnivorous Vegan”. What that means is that you have lots and lots of healthy vegetables and meat in your diet. For vegans or vegetarians however, the concept is the same, but they just don’t have meat in their diet.</p>
                <p>What are considered grains?
Answer: According to the USDA, grains are “any food made from wheat, rice, oats, cornmeal, barley or another cereal grain is a grain product. Bread, pasta, oatmeal, breakfast cereals, tortillas, and grits are examples of grain products.”</p>
                <p>In a ‪NSNG lifestyle, what are considered ‘sugars’?
Answer: Glucose, Fructose, Sucrose, Glucose Syrup, Corn Syrup, High Fructose Corn Syrup (HFCS), Fruit Sugar, Raw Honey, Maple Syrup, Molasses, Agave Nectar, Palm Sugar, Coconut Sugar. A full list of sugars can be found at this link:http://www.marksdailyapple.com/the-definitive-guide-to-sugar/#axzz2YfdmeAmd</p>
                <p>What are ‪NSNG suggested fats?
Answer: Grass fed butter, coconut oil, macadamia nut oil, avocado oil, heavy whipping cream, nut butters (be careful to read the ingredient label to make sure it is pure nut butter and not filled with a lot of additives and other oils), Villa Capelli olive oil (no olio della lampada), lard, tallow, bacon grease, ghee, MCT oil, full fat dairy (if you can tolerate it), olives, avocados, full fat coconut milk. </p>
                    <p>What are some ‪‎NSNG suggested snacks?
Answer: Low glycemic fruit, cut veggies, hard boiled eggs, beef jerky, full fat cheese, raw nuts, olives, pumpkin seeds, 85% or greater dark chocolate, deviled eggs (homemade mayo), pepperoni slices, coconut oil, avocado, lettuce rolled up with smoked salmon and full fat cream cheese, hummus and celery, pickles, shot of olive oil, coffee with heavy cream (or grass fed butter, or coconut oil).</p>
                    </li>
                    <li>
                    <a href="/recipes/new">Create a new recipe</a>
                </li>
            </ul>
        </nav>
    </header>
    </body>
</html>