   
  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">

  <%#START Style Sheets%>
  <%#Bootstrap CDN%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%#Our personal style sheet%>
  <link rel="stylesheet" href="css/style.scss" charset="utf-8">
<%#END Style Sheets%>
<%#JavaScript & jQuery Links%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/server.js"></script>
    
</head>
    <body>
  <header>
   
        <h3 class="logo" id="top">No Sugars No Grains Food Recipes</h3>
            <nav>
                <li><a href="/">Home</a></li>
                <li><a class="current" href="/recipes">Current Recipes Index Page</a></li>
                <li><a href="/recipes/new/">RECIPES NEW PAGE Add Recipes</a></li>
              <%#logout option%>
            <%if(alert!== undefined){%>
                <p><%=alert%></p>
            <%}%>    
            <% if(logged){ %>
            <li><a href="/user/logout">Logout</a></li>
            <% } %>
            <%#logout option%>
    </header>

            </nav>
    <main>
   
      <h2>List of Recipes</h2>
       <h1>Welcome <%= recipe.currentUser %></h1>
        <div class="container">
        <h1 class="primary">Recipes</h1>
<% for(let i = 0; i < recipe.length; i++) {%>
<li><a href="/recipes/<%= recipe.title %>"><%= recipe[i].title %></a></li>
<% } %>
                   
</div>
 <%# Button to trigger to open MODAL %>
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">What is NSNG?</button>
 <%#Modal%>
 <div class="modal fade" id="#modalLong" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
 <div class="modal-header">
 <h5 class="modal-title">MODAL About #nsng lifestyle</h5>
  Learn more about NSNG
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
 <span aria-hidden="true">&times;</span></button>
 <div>
  <%#Modal contains frequently asked questions%>
                    <div class="modal-body">
                    
      <div class="col-sm-4 col-md-6 col-lg-8" style="background-color:gray;">
                    <h1>No Sugar No Grains #nsng Frequently Asked Questions</h1>
                <div>1) What is No Sugar and No Grains (NSNG) all about?<br>
Answer: In its simplest form NSNG is just that. You eliminate all processed sugars and all grains from your diet. In other words, you eat real food. In earlier podcast, it is referred to as being a “Carnivorous Vegan”. What that means is that you have lots and lots of healthy vegetables and meat in your diet. For vegans or vegetarians however, the concept is the same, but they just don’t have meat in their diet.</div>
                <div>2) What are considered grains?<br>
Answer: According to the USDA, grains are “any food made from wheat, rice, oats, cornmeal, barley or another cereal grain is a grain product. Bread, pasta, oatmeal, breakfast cereals, tortillas, and grits are examples of grain products.”</div>
                <div>3) In a ‪NSNG lifestyle, what are considered ‘sugars’?<br>
Answer: Glucose, Fructose, Sucrose, Glucose Syrup, Corn Syrup, High Fructose Corn Syrup (HFCS), Fruit Sugar, Raw Honey, Maple Syrup, Molasses, Agave Nectar, Palm Sugar, Coconut Sugar.</div>
                <div>4)What are ‪NSNG suggested fats?<br>
Answer: Grass fed butter, coconut oil, macadamia nut oil, avocado oil, heavy whipping cream, nut butters (be careful to read the ingredient label to make sure it is pure nut butter and not filled with a lot of additives and other oils), Villa Capelli olive oil (no olio della lampada), lard, tallow, bacon grease, ghee, MCT oil, full fat dairy (if you can tolerate it), olives, avocados, full fat coconut milk. </div>
                    <div>5) What are some ‪‎NSNG suggested snacks?<br>
Answer: Low glycemic fruit, cut veggies, hard boiled eggs, beef jerky, full fat cheese, raw nuts, olives, pumpkin seeds, 85% or greater dark chocolate, deviled eggs (homemade mayo), pepperoni slices, coconut oil, avocado, lettuce rolled up with smoked salmon and full fat cream cheese, hummus and celery, pickles, shot of olive oil, coffee with heavy cream (or grass fed butter, or coconut oil).</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <%#End of Modal%>
      <div class="col-sm-9 col-md-6 col-lg-8"> 
        <a class="button" id="topButton" href="#top"> Back to Top</a>
        </div>
    </main>
    </body>
       
    <footer>

</footer>
