<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <h1>Recipes Show Page</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/recipes">Recipes Index</a>
                    </li>
                    </ul>
                </nav>
    </header>
    <main>
        <section>
        <h2>Name: <%= recipe.name %></h2>
        <ul>
        </ul>
        </section>
        <section> 
        <a href ="/recipes/<%= recipe._id %>/edit">Edit</a>
   </section>
   <form action="/recipes/<%= recipe._id %>?_method=DE:ETE" method="POST">
   <input type="submit" value="Delete Recipe"/>
   </form>
   </section>
    </main>
    
    </body>
</html>